*{margin: 0; padding: 0;}

.centralizacao{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white; 
    font-family: 'Cinzel', serif;
    font-size: 130px;
}

header{
    margin-top: 2px;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
header > nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none; 
}
.item-menu{
    color: white;
    text-decoration: none;
    padding-right: 50px;
}   
.item-menu:hover{
    color: white;
    text-decoration: none;
    
}
.item-menu:active{
    text-decoration: none;
}