*{margin: 0; padding: 0;}

body{
    background-image: linear-gradient(to right top, #606060, #484848, #313131, #1c1c1c, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}

.container{
    margin: 0 300px;
    margin-top: 25px;
}

.meme{   
    background-color: white;
    margin-bottom: 30px; 
}

.titulo-meme{
    font-size: 50px;
    background-color: black;
    color: white;
    font-family: 'Cinzel', serif;
}

.meme .conteudo{
    display: flex;
    justify-content: center;
}

.imagem img{
    width: 80%;
    padding-top: 10px;
}

.texto{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: black;
    
}

.botao{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding-right: 10px;
    text-decoration: none;
    border-left: 8px;
}

.botao:active{
    text-decoration: none;
}

.botao:hover{
    color: #313131;
}

.demais-paginas{
    text-align: center;
}
