*{margin: 0; padding: 0;}

body{
    background-image: linear-gradient(to right top, #606060, #484848, #313131, #1c1c1c, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    background-attachment: fixed;
}

.container{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 25px;
}

.titulo{
    margin-right: 100px;
    text-align: center;
    font-size: 100px;
    color: white; 
    font-family: 'Cinzel', serif;
    font-size: 130px;
}

.centralizacao{
    margin: 0px 100PX;
    display: flex;
    background-attachment: fixed;
    text-align: center;
    background-color: black;
    
}

.meme{   
    background-color: white;
    
    margin-bottom: 30px; 
    
}
.titulo-meme{
    font-size: 50px;
    background-color: black;
    color: white;
    font-family: 'Cinzel', serif;
}

.meme .conteudo{
    display: flex;
    padding: initial;
}

.imagem img{
    width: 100%;
}

.texto{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.botao{
    text-align: right;
}

