*{margin: 0; padding: 0;}

body{
    background-image: linear-gradient(to right top, #606060, #484848, #313131, #1c1c1c, #000000);
}

.container{
    margin: 0 300px;
    margin-top: 25px;
}

.meme{   
    background-color: white;
    margin-bottom: 30px; 
}

.titulo-meme{
    font-size: 50px;
    background-color: black;
    color: white;
    font-family: 'Cinzel', serif;
}

.imagem img{
    padding-left: 70px;
    width: 80%;
    padding-top: 10px;
    justify-content: center;
}

.texto{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
    padding-bottom: 15px;
    
}

.demais-paginas{
    text-align: center;
    background-color: black;
    background-attachment: fixed;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    text-decoration: none;
}

.lista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    
}

.item-mais{
    color: white;
    text-decoration: none; 
}   
.item-mais:hover{
    color: white;
    text-decoration: none;
    
}
.item-mais:active{
    text-decoration: none;
}

.dono{
    text-align: right;
    padding-top: 5px;
    padding-right: 15px;

}